---
title: JavaScript License Information
---

<table id="jslicense-labels1">
  <thead><tr><th>Script</th><th>License</th><th>Source</th></tr></thead>
  <tbody>
    <tr>
      <td><a href="/bundle.min.4c3fb12a087ceed4a52cb5d57068a9795c7069617a01ca70f788052ad66e1791779e6c72686e1dc0ca13dc03b0203204b6566bb0dd1ee80de2b7ff4d8fe53db2.js">bundle.min.4c3fb12a087ceed4a52cb5d57068a9795c7069617a01ca70f788052ad66e1791779e6c72686e1dc0ca13dc03b0203204b6566bb0dd1ee80de2b7ff4d8fe53db2.js</a></td>
      <td><a href="http://www.jclark.com/xml/copying.txt">MIT</a></td>
      <td><a href="https://github.com/rhazdon/hugo-theme-hello-friend-ng/tree/master/assets/js">Source</a></td>
    </tr>
  </tbody>
</table>
